<%= form_for(kh) do |f| %>
  <% if kh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kh.errors.count, "error") %> prohibited this kh from being saved:</h2>

      <ul>
      <% kh.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nilai %>
    <%= f.text_field :nilai %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
