<p id="notice"><%= notice %></p>

<h1>Mata Kuliahs</h1>

<table>
  <thead>
    <tr>
      <th>Kode MK </th>
      <th>Nama MK </th>
      <th>SKS </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mata_kuliahs.each do |mata_kuliah| %>
      <tr>
        <td><%= mata_kuliah.kode_mk %></td>
        <td><%= mata_kuliah.nama_mk %> </td>
        <td><%= mata_kuliah.sks %> </td>
        <td><%= link_to 'Show', mata_kuliah %></td>
        <td><%= link_to 'Edit', edit_mata_kuliah_path(mata_kuliah) %></td>
        <td><%= link_to 'Destroy', mata_kuliah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mata Kuliah', new_mata_kuliah_path %>
