<%= form_for(kr) do |f| %>
  <% if kr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kr.errors.count, "error") %> prohibited this kr from being saved:</h2>

      <ul>
      <% kr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :kode_mk %>
    <%= f.text_field :kode_mk %>
  </div>

  <div class="field">
    <%= f.label :nim %>
    <%= f.text_field :nim %>
  </div>

  <div class="field">
    <%= f.label :kode_jur %>
    <%= f.text_field :kode_jur %>
  </dv> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
