<p id="notice"><%= notice %></p>

<h1>Krs</h1>

<table>
  <thead>
    <tr>
      <th> Kode MK </th>
      <th> NIM </th>
      <th> Kode Jurusan </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @krs.each do |kr| %>
      <tr>
        <td><%= kr.mata_kuliah.kode_mk %> </td>
        <td><%= kr.mahasiswa.nim %> </td>
        <td><%= kr.jurusan.kode_jur %> </td>
        <td><%= link_to 'Show', kr %></td>
        <td><%= link_to 'Edit', edit_kr_path(kr) %></td>
        <td><%= link_to 'Destroy', kr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kr', new_kr_path %>
