<%= form_for(ruang) do |f| %>
  <% if ruang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ruang.errors.count, "error") %> prohibited this ruang from being saved:</h2>

      <ul>
      <% ruang.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :kode_ruang %>
    <%= f.text_field :kode_ruang %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
